<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=<%= root_url %>>Ventanex Code Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href=<%= pay_accounts_url %>>All Accounts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=<%= new_pay_account_url %>>Create Account</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recent Accounts    
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% PayAccount.recent_accounts.each do |account| %>
            <a class="dropdown-item" href=<%= pay_account_url(account) %>> <%= account.nickname %></a>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>